html,
body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
p,
li,
span,
a {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    width: 95%;
    margin: auto;
}

nav,
#ctnNavList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav img {
    margin-top: 30px;
}

#ctnNavList {
    list-style: none;
    margin: 0;
    height: 100%;
}

#ctnNavList li {
    height: 100%;
    padding: 30px;
    border-top: 2px solid transparent;
}

#ctnNavList li:hover {
    border-top: 2px solid #0065FC;
}

#ctnNavList li a:active {
    color: #F2F2F2;
}

#ctnNavList li a {
    text-decoration: none;
    color: #6087FB;
    font-weight: 500;
}

.lRegister {
    color: #0065FC !important;
    font-weight: 700 !important;
}

.lRegisterMobile {
    display: none;
}

/* BODY */
#ctnSearchBox {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

#ctnSearchBox h1 {
    font-size: 22px;
    margin: 5px 0px 5px 0px;
}

#ctnSearchBox p {
    margin: 5px 0px 10px 0px;
}

#ctnSearchBox form {
    height: 50px;
    border-radius: 25px;
}

#ctnSearchBox form {
    height: 50px;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

#ctnSearchBox form div {
    height: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
}

.fa-map-marker-alt {
    color: black;
    font-size: 20px;
    margin: auto;
}

#ctnSearchBox form input {
    height: 48px;
    border: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0px 10px 0px 10px;
    font: 700 14px 'Raleway';
}

#ctnSearchBox form input:focus-visible {
    outline: none;
}

#ctnSearchBox form .btnSearch {
    height: 100%;
    background-color: #0065FC;
    color: #F2F2F2;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font: 700 14px 'Raleway';
    width: 120px;
    cursor: pointer;
}

.btnSearchMobile {
    display: none;
}

#ctnFiltres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#ctnFiltres span {
    font-weight: 600;
}

#ctnFiltres ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    max-width: 850px;
}

#ctnFiltres ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 40px;
}

#ctnFiltres ul li:hover {
    border: 2px solid #0065FC;
    cursor: pointer;
}


#ctnFiltres ul li span {
    padding: 10px;
    font-weight: 600;
}

.ctnIcons {
    height: 44px;
    width: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-left: -5px;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 20px;
    margin: auto;
}

#ctnInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#ctnIconInfo {
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.fa-info {
    color: #0065FC;
    margin: auto;
}

#ctnInfo p {
    margin: 0;
    margin-left: 10px;
}

/* HOUSE */
.contentBody {
    display: grid;
    grid-template-columns: 100%;
}

#ctnHousing {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

#ctnHousingAt {
    width: min-content;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
}

#ctnHousing h2 {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 40px;
}

#ctnRowHouses {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.ctnHouse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    border: 4px solid white;
    border-radius: 15px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 7px -5px #000000;
    box-shadow: 0px 3px 7px -5px #000000;
}

.ctnHouse img {
    width: 100%;
    height: 100%;
    min-height: 146px;
    max-height: 147px;
}

.ctnHouse figcaption {
    width: 100%;
    background-color: white;
    margin-top: -30px;
}

.ctnHouse figcaption div {
    padding: 5px 0px 0px 10px;
    margin-bottom: 10px;
}

.ctnHouse figcaption p {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
}

.ctnHouse figcaption p span {
    font-weight: 700;
    font-size: 14px;
}


.ctnHouse h3 {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

.fa-star {
    color: #0065FC;
}

.empty {
    color: #ddd8d8 !important;
}


#readMore {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

/* MOST FAMOUS */
#ctnMostFamous {
    margin-top: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-left: 30px;
    padding-right: 30px;
}

#ctnFamousTitle {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}

#ctnFamousTitle h2 {
    margin: 0;
    font-size: 20px;
}

.fa-chart-line {
    font-size: 25px;
}

.mostFamous {
    width: 95%;
    margin-top: 20px;
}

.mostFamous figure {
    background-color: white;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding: 7px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 7px -5px #000000;
    box-shadow: 0px 3px 7px -5px #000000;
}

.last {
    margin-bottom: 20px !important;
}

.mostFamous figure img {
    width: 40%;
    background-color: white;
    border-radius: 20px;
    max-height: 145px;
    min-width: 160px;
}

.mostFamous figure figcaption {
    width: 100%;
    background-color: white;
    position: relative;
    left: -20px;
    padding: 10px 0 0 25px
}

.mostFamous figure figcaption p {
    margin-top: 7px;
    margin-bottom: 50px;
}

.mostFamous figure figcaption div {
    position: relative;
    top: -10px;
}

/* ACTIVITY */

#ctnActivity {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#ctnActivity h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

#ctnActivity #ctnActivityRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    height: 450px;
}

.rowFigure {
    width: 20%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 10px -5px #000000;
    box-shadow: 0px 5px 10px -5px #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rowImg {
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    left: -75px;
}

#ctnActivityRow figure figcaption {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}

.ctnActivityColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}

.columnFigure {
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0px 5px 10px -5px #000000;
    box-shadow: 0px 5px 10px -5px #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ctnFirstItem {
    width: 100%;
    height: 200px !important;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.columnImg {
    height: 125px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fullHeightImg {
    height: 100%;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #F2F2F2;
}

#ctnFooter {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
    width: 40%;
}

footer div h3 {
    margin-bottom: 15px;
}

footer div a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.figureLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: auto;
    height: 100%;
    width: 100%;
}

#ctnNavListMobile {
    display: none;
}

.rowLink {
    display: flex;
    flex-direction: row;
}

/* Tablette */
@media screen and (max-width:1310px) {

    #ctnActivity {
        width: 75%;
    }

    #ctnActivity h2 {
        margin: auto;
        margin-bottom: 10px;
    }


    #ctnFiltres {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    #ctnFiltres ul {
        width: 80%;
        padding:0;
    }
    #ctnFiltres ul li span {
        text-align: center;
    }

    #ctnHousing {
        flex-direction: column;
        align-items: center;
    }

    #readMore {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    #ctnMostFamous {
        margin-top: 20px;
        width: 60%;
        padding: 0;
    }

    .mostFamous figure figcaption p {
        margin-bottom: 30px;
    }

    .mostFamous figure {
        padding: 0;
    }

    #ctnHousingAt {
        width: 90%;
    }

    #ctnActivityRow {
        flex-wrap: wrap;
        height: fit-content !important;
        justify-content: space-around !important;
    }

    .rowFigure {
        width: 300px;
    }

    .ctnActivityColumn {
        order: 2;
        width: 40%;
    }
    .ctnFirstItem {
        max-height: 125px;
    }

    .figureLink {
        margin: 0;
        width: 100%;
    }

    .columnFigure {
        margin-top: 20px;
        width: 300px;
    }

    .columnImg {
        height: fit-content;
    }
    #ctnFooter div  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

@media screen and (max-width:920px) {
    #ctnFiltres ul {
        width: 100%;
        flex-wrap: wrap;
    }

    #ctnFiltres ul li {
        margin-top: 20px;
    }
}

@media screen and (max-width:850px) {
    #ctnActivity {
        width: 100%;
    }
 } 



/* IPHONE 6/7/8+ */
@media screen and (max-width: 650px) {
    header {
        margin: 0;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #ctnLogo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    #logo {
        width: 120px;
    }

    .lRegisterMobile {
        display: flex;
        text-decoration: none;
        color: #6087FB;
        font-weight: 500;
        margin-top: 30px;
        font-size: 18px;
    }

    #ctnNavList {
        display: none;
    }

    #ctnNavListMobile {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin: auto;
        padding: 0;
        width: 100%;
        margin-top: 20px;
    }

    #ctnNavListMobile a {
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 18px;
        border-bottom: 3px solid #F2F2F2;
    }

    #ctnNavListMobile a:hover {
        color: #6087FB;
        font-weight: 500;
        border-bottom: 3px solid #0065FC;
    }

    #ctnSearchBox h1 {
        margin: 0;
        margin-left: 10px;
        width: 85%;
    }

    #ctnSearchBox p {
        margin-left: 10px;
        width: 85%;
    }

    #ctnSearchBox form {
        margin-left: 10px;
    }

    .btnSearch {
        display: none;
    }

    .btnSearchMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: #0065FC;
        color: #F2F2F2;
        border: 0;
        border-radius: 15px;
        font: 700 14px 'Raleway';
        cursor: pointer;
        width: 50px;
        position: relative;
        left: -10px;
    }

    #searchBar {
        width: 70%;
    }

    .fa-search {
        margin: auto;
        font-size: 16px;
    }

    #ctnFiltres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 30px;
        margin-left: 15px;
    }

    #ctnFiltres ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        margin-top: 0;
    }

    #ctnFiltres ul li {
        margin: 15px 20px 0px 5px;
    }

    .fa-money-bill-wave,
    .fa-child,
    .fa-heart,
    .fa-dog {
        color: #0065FC;
        font-size: 15px;
        margin: auto;
    }

    #ctnIconInfo {
        width: 15px;
        height: 15px;
    }

    .fa-info {
        font-size: 10px;
    }

    #ctnInfo {
        align-items: unset;
        margin-left: 10px;
    }

    #ctnHousing {
        flex-direction: column-reverse;
        width: 100%;
    }

    #ctnHousingAt,
    #ctnMostFamous {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    #ctnHousingAt {
        background-color: #FFFFFF;
    }

    #ctnRowHouses {
        flex-direction: column;
        margin: 0;
        margin: auto;
        width: 95%;
        margin-top: 20px;
    }


    #ctnRowHouses figure {
        -webkit-box-shadow: 0px 3px 6px -5px #000000;
        box-shadow: 0px 2px 5px -2px #000000;
    }

    #ctnFamousTitle {
        width: 90%;
    }

    .ctnHouse {
        width: 95%;
    }

    .mostFamous figure {
        width: 95%;
        margin: auto;
        margin-bottom: 15px;
        -webkit-box-shadow: 0px 3px 6px -5px #000000;
        box-shadow: 0px 3px 6px -5px #000000;
    }

    #readMore {
        font-size: 16px;
        background-color: transparent;
        margin-top: 0;
    }

    #ctnActivity {
        width: 90%;
    }
    #ctnActivity h2 {
        margin: 0;
        margin-bottom: 20px;
    }
    #ctnActivityRow {
        flex-direction: column !important;
        height: fit-content !important;
    }

    .rowFigure {
        width: 100%;
        margin-bottom: 15px;
    }

    .ctnActivityColumn {
        width: 100%;
    }

    .rowImg {
        height: 125px;
    }

    .columnImg .ctnFirstItem {
        height: fit-content !important;
    }

    .columnFigure {
        width: 100%;
        margin-bottom: 20px;
    }

    .figureLink {
        width: 100%;
        max-height: fit-content !important;
        overflow: hidden;
        object-fit: cover;
    }

    .activityMobile {
        max-height: 150px;

    }

    .columnImg {
        object-fit: cover;
        max-height: 125px;
    }

    /* Footer  */

    #ctnFooter {
        flex-direction: column;
        height: fit-content;
        margin-left: 20px;
        padding-top: 0;
    }

    #ctnFooter div {
        margin-top: 40px;
        width: 90%;
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #lastDivMobile {
        margin-bottom: 20px;
    }
}